.Master {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;

  &__photo {
    img {
      object-fit: cover;
      max-width: 100%;
    }
  }

  &__name {
    font-size: 18px;
    font-weight: 500;
  }
}